@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Diamond";
  src:
    url("../src/assets/fonts/Diamond/DiamondGrotesk-Regular.woff2")
      format("woff2"),
    url("../src/assets/fonts/Diamond/DiamondGrotesk-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src:
    url("../src/assets/fonts/Playfair/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("../src/assets/fonts/Playfair/PlayfairDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Diamond, sans-serif;
}

.active {
  color: white;
}
